body{
    background-color:black;
}

/* header and ul/li ish */
ul#menu{
    margin: 0;
    padding: 15px ;
    color: white;
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
    margin-top:0;
}
header{
    background: black;
    padding: 0;
    border-top: white 1px solid;
    border-bottom: white 1px solid;
}
header a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
header .current a{
    color: wheat;
    font-weight: bold;
}
ul#menu li{
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 20px 0 20px;
    color: white;
    vertical-align: middle;
    text-align: center;
    height: 100%;
    margin-bottom: 0;
    list-style: none;
    
}
header a:hover{
    color:grey;
}

/* showcase and portrait pic*/
.portrait{
    width: 86%;
    margin: auto;
    overflow: hidden;
    margin-top: 3px;
}
#showcase{
    min-height: 450px;
    background: url("../images/rocksOcean.jpeg") no-repeat center;
    background-size: cover;
    text-align: center;
    padding: 5px 3px 40px 0;
    border-bottom: white 1px solid;
    margin-bottom: 10px;
    margin-top: 25px;
}

#showcase img{
   width: 25%;
   padding: 95px;
}
/* About me description */
#textSection{
    color: wheat;
    margin: 0 auto;
    text-align: center;
    width:86%;
    padding:10px; 
}
#textSection a:link{
    color:wheat;
}
#textSection h1{
    color: white;
    font-size: 30px;
}
/* Contact me info */
#contact{
    padding: 15px;
    color:wheat;

}
#contact a{
    color: wheat;
}
#contact a:hover{
    color: rgba(235, 176, 67, 0.918);
}
#contact h1{
    color: white;
    text-align: center;
    font-size: 30px;;
}

/* Experience */
#experience{
    padding: 15px;
    color: wheat;
}
#experience h3{
    margin-top:10px;
    font-size:30px;
    margin-bottom:10px;
    text-align: center;
    color: white;
}


/* Reasons to hire me id*/
#reasonsToHireMe{
    padding: 30px;
    color: wheat;
}

#reasonsToHireMe h1{
    color: white;
    font-size: 30px;
    text-align: center;

}
#reasonsToHireMe h2{
    padding: 10px;
    font-size: 25px;
    text-align: left;
}
#reasonsToHireMe tr{
    font-size: 15px;
}

/* picture for home */
#hback img{
    max-height: 250;
    background-size: auto;
    padding: 5px 3px 40px 0;
    border-bottom: white 1px solid;
    margin-bottom: 10px;
    margin-top: 25px;
    width: 100%;
    height: 500px;
}

/* box to send me messages in home tab */
#getintouch{
    color: white;
    text-align: center;
    margin: 50px;
}
#getintouch h1{
    padding: 0;
    margin-top: -25px;
    margin-bottom: 35px;
}
#getintouch fieldset{
    vertical-align: middle;
    display: inline;
    text-align: center;
    align-self: center;
    padding: 25px;
    background: url("../images/hardware.jpeg") no-repeat center;
    background-blend-mode: soft-light;
}

#getintouch input[type="email"]{
    padding: 5px;
    width: 250px;
    background-color: black;
    color:white;
}
#getintouch input[type="text"]{
    padding: 5px;
    width: 250px;
    color:white;
    background-color:black;
}
#getintouch button[type="submit"]{
    padding: 5px;
    width: 100px;
    color: rgb(11, 197, 197);
    font-weight: bold;
    background-color: black;
}

#getintouch textarea{
    background-color: black;
    color: white;
    width: 50%;
}

/* Projects tab */
h1{
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 45px;
}
#projects{
    margin-top: 20px;
    padding: 15px;
}
#projects p{
    color: wheat;
}
#projects .box{
    display: inline-block;
    text-align: center;
    color: white;
    padding: 25px;
    width: 45%;;
}
#projects .box img{
    width:330px;
    padding: 25px;
    height: 330px;
}
#projects a{
    color: rgb(14, 207, 233);
}
#projects a:hover{
    color:rgb(20, 169, 189);
}
#projects .box h3{
    color: wheat;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
}